*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
    color: white;
    overflow: hidden;
}
body{
    background-color: black;
}

.main{
    display: flex;
    height: 100vh;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 392px;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1rem 0 1rem;

}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
}
.navbar{
    
    height: 100px;
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    
}
a{
    text-decoration: none;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    border-radius: 1rem;
    background-color: #121212;
    
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;

}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-options img{
    height: 1.25rem;
    width: 1.25rem;

}
.icons{
    font-size: 1.25rem;
    opacity: 0.5;
    display: flex;
}
.icons i{
    margin-right: 1rem;
}
.icons:hover{
    opacity: 1;
}

.box1{
    margin: 0.75rem 0 1.75rem 0;
    padding: 1rem 1.25rem;
    background-color: #242424;
    
    height: 7rem;
    border-radius: 0.75rem;
    
}
.box1-p1{
font-size: 1rem;
font-weight: 700;
}
.box1-p2{
    font-weight: 700;
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    color: black;
    border: none;
    padding:  0.25rem 1rem;
    font-size: 0.85rem;
    font-weight: 700;
    border-radius: 100px;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
    transition: padding 2s ease-in;
}
#install-btn{
    background-color: black;
    color: white;
}
.sticky-nav-icons{
    margin-left: 0.75rem;
    
}
.sticky-nav-buttons{
    display:flex ;
    align-items: center;
    justify-content: center;

}
.nav-items{
    margin-right: 1.5rem;
}
.install-icon{
    margin-right: 0.30rem;
}
.sticky-nav-buttons i{
    padding-top: 0.30rem;
    
}
.sticky-nav-buttons button:hover{
    
    padding: 0.25rem 1.25rem;
    
}
@media (max-width:1000px) {
    .hide{
        display: none;
    }
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 50%;
}
.song-name{
    width: 30%;
    display: flex;
    
    
}
.song-icon{
    width: 15%;
    
    padding: 0.5rem;

}
.song-icon img{
    width: 100%;
    border-radius: 0.5rem;
}
.song-info{
    margin-top: 0.40rem;
    padding: 0.45rem;
}
.song-info .p-one{
    font-weight: 600;
    font-size: 0.85rem;
}
.song-info .p-two{
    font-size: 0.65rem;

}
.song-icons{
    margin-top: 1.5rem;
   
}
.song-icons i{
    margin-left: 0.40rem;
    opacity: 0.5;
}



